.episode
    cursor: pointer
    width: 100%
    max-width: 200px
    border: 0.2rem solid #30363d
    padding: 1rem
    border-radius: 0.5rem
    min-height: 15rem
    &__info
        margin-bottom: 0.5rem
        &:last-child
            margin-bottom: 0
    &__name
        color: #fff
        margin-bottom: 1rem
