.sortingpanel
    align-items: center
    width: 100%
    min-height: 5.5rem
    margin-bottom: 1rem

.search
    &__input
        height: 4rem
        background: transparent
        border: 0.3rem solid #30363d
        border-radius: 0.5rem
        padding: 0 1rem
        width: 100%
        max-width: 30rem
        color: #cacaca
        transition: 0.2s
        &:hover,
        &:focus
            border: 0.3rem solid #3c434a
            box-shadow: 0 0.2rem 1rem #30363d
